@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply m-0 p-0 box-border;
}

html, body {
  height: 100%;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}
